

<div class="footer"><br />
    <div class="footerContent">
        <div class="row" style="margin: 0;padding:0">
            <div class="col">Services</div>
            <div class="col">Maps</div>
            <div class="col">Local Analysis</div>
            <div class="col">Infrastructure and 3D Modules</div>
            <div class="col">
            <div style="cursor:pointer;padding:0;margin: 0;" routerLink="/homepage/donations">Donations</div><br>
            <div style="cursor:pointer;padding:0;margin: 0;" routerLink="/homepage/workwithus">Work With Us</div><br>
            <div style="cursor:pointer;padding:0;margin: 0;" routerLink="/homepage/feedback">Feedback</div><br>
            <div style="cursor:pointer;padding:0;margin: 0;" routerLink="/homepage/contactus">Contact Us</div><br>
            <i class='bx bxl-linkedin-square bx-tada bx-rotate-90' style="font-size:2rem"   ></i>
            <i class='bx bxl-facebook-circle bx-tada bx-rotate-90' style="font-size:2rem" ></i>
            <i class='bx bxl-twitter bx-tada bx-rotate-90' style="font-size:2rem"></i>
            </div>
        </div><br>

        <div style="text-align: center;">
            <span>Copyright © 2022 Slum Control Autority of India All Rights Reserved</span>
        </div>
    </div>
</div>

<!-- 
<div class="footer backgroundColor">
   
</div> -->