<div class="footer"><br/>
    <div style="margin: 2rem;margin-top: 1rem;">
        <div class="row" style="margin-left: 2rem;font-weight: bold;">
            <div class="col" style="cursor:pointer" routerLink="/homepage/services">Services</div>
            <div class="col" style="cursor:pointer" routerLink="/homepage/maps">Maps</div>
            <div class="col" style="cursor:pointer" routerLink="/homepage/localanalysis">Local Analysis</div>
            <div class="col-3" style="cursor:pointer" routerLink="/homepage/infrastructure">Infrastructure and 3D Modules</div>
            <div class="col">
            <span style="cursor:pointer" routerLink="/homepage/donations">Donations</span><br>
            <span style="cursor:pointer" routerLink="/homepage/workwithus">Work With Us</span><br>
            <span style="cursor:pointer" routerLink="/homepage/feedback">Feedback</span><br>
            <span style="cursor:pointer" routerLink="/homepage/contactus">Contact Us</span><br>
            <i class='bx bxl-linkedin-square bx-tada bx-rotate-90'   ></i>
            <i class='bx bxl-facebook-circle bx-tada bx-rotate-90' ></i>
            <i class='bx bxl-twitter bx-tada bx-rotate-90'></i> 
            </div>
        </div><br><br>
        <div style="display: flex;justify-content:center;align-items:center">
            <h6>Copyright © 2022 Slum Control Autority of India All Rights Reserved</h6>
        </div>
    </div>
</div>

<!-- 
<div class="footer backgroundColor">
   
</div> -->

