<div id="top" class="row" style="height: 92vh;margin:0rem;padding:0rem">
    <div class="col-5" style="background-color: rgba(1, 9, 71, 1);color: white;padding-left: 9vw;padding-top: 20vh;">
        <div>
            <h1>Work , <br />with us .</h1>
        </div>
    </div>
    <div class="col" >
        <div class="row m-3 mt-4" *ngIf="search() else nodata">
            <input class="form-control shadow-none" [(ngModel)]="searchtext" placeholder=" 🔎 Search"
                style="float: right;height: 5vh;">
            <div class="col-5 card m-4 mb-0  shadow  border-0" style="background-color: whiteSmoke;padding: 2rem; padding-bottom: 1rem;"
                *ngFor="let c of search() ; index as i">
                <div class="row">
                    <div class="col-8">
                        <strong> {{c.jobtitle}}</strong>
                        <br>
                        <i class='bx bxs-location-plus'></i>&nbsp;<span style="font-size:1rem;">{{c.location}}</span>
                        <br />
                        <div class="col" style="display: flex;align-items:center">
                            <i class='bx bx-rupee bx-tada'></i>&nbsp;{{c.amount}}
                        </div>
                    </div>
                    <div class="col" style="display: flex;justify-content:center;align-items:center">
                        <button class="btn btn-primary" (click)="selected(c)">Apply</button>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #nodata><br /><br />
            <div class="text-center" style="display: flex;justify-content:center;align-items:center">
                No Job Posts
            </div>
        </ng-template>
    </div>
</div>

<div style="margin-top: 10%;width: 100vw;" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" style="margin-left: 25%;" role="document">
        <div class="modal-content" style="width: 50vw;">
            <div class="modal-header col" style="text-align: center;justify-content: center;">
                <h4 class="modal-title ">Job
                    Application</h4>
                    <br>
                    
                    
            </div>
            <div class="modal-body " style="margin: 0%;padding:1rem">
                <form [formGroup]="workapply">
                    <!-- {{currentApplying | json }} -->
                    <div style="">
                        <div style="color:green" *ngIf="successMsg!=''"><strong><i style="color:green"
                                    class='bx bxs-check-circle'></i>
                                {{successMsg}}</strong></div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label>First Name <sup style="color:crimson"><strong>*</strong></sup></label><br>
                                <input (click)="showerr=false" class="form-control shadow-none"
                                    placeholder="Enter  First Name" formControlName="firstname">
                                <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span>
                                <!-- <span *ngIf="!showerr" style="color:crimson;font-size: 0.8rem;">k</span> -->
                            </div>
                            <div class="col">
                                <label>Middle Name </label><br>
                                <input (click)="showerr=false" class="form-control shadow-none"
                                    placeholder="Enter  Middle Name" formControlName="middlename">
                                <!-- <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span> -->
                            </div>
                            <div class="col">
                                <label>Last Name <sup style="color:crimson"><strong>*</strong></sup></label><br>
                                <input (click)="showerr=false" class="form-control shadow-none"
                                    placeholder="Enter  Last Name" formControlName="lastname">
                                <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label>Email </label><br>
                                <input (click)="showerr=false" class="form-control shadow-none"
                                    placeholder="Enter  Email" type="email" formControlName="email">
                                <!-- <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span> -->
                            </div>
                            <div class="col">
                                <label>Mobile Number <sup style="color:crimson"><strong>*</strong></sup></label><br>
                                <input (click)="showerr=false" class="form-control shadow-none"
                                    placeholder="Enter  Mobile Numnber" type="number" formControlName="mobileno">
                                <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span>
                            </div>
                            <div class="col">
                                <label>Alternative Mobile Number </label><br>
                                <input (click)="showerr=false" class="form-control shadow-none"
                                    placeholder="Enter  Alternative Mobile " type="number"
                                    formControlName="altmobileno">
                                <!-- <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span> -->

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label>Applying Post <sup style="color:crimson"><strong>*</strong></sup></label><br>
                                
                                <input (click)="showerr=false" class="form-control shadow-none" value={{jobpost}} placeholder="Enter Job post "
                                    formControlName="jobpost">
                                <!-- <select class="form-select shadow-none" formControlName="jobpost" value={{currentApplying.jobtitle}} [disabled]="'disabled'">
                                    <option value="" disabled selected>select a post</option>
                                    <option value="contractor">Contractor</option>
                                    <option value="construction engineer">Construction Engineer</option>
                                    <option value="supervisor">Supervisor</option>
                                    <option value="daily labour">Daily Labour</option>
                                    <option value="any post">Any Post</option>
                                </select> -->
                                <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span>
                            </div>
                            <div class="col">
                                <label>Previous Experience <sup
                                        style="color:crimson"><strong>*</strong></sup></label><br>
                                <select class="form-select shadow-none" formControlName="prevexperience">
                                    <option value="" disabled selected>Experience Status</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                                <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span>
                            </div>
                            <div class="col">
                                <label>Previous Work Place <sup
                                        style="color:crimson"><strong>*</strong></sup></label><br>
                                <input (click)="showerr=false" class="form-control shadow-none"
                                    placeholder="Enter Previous Work Place" formControlName="prevworkplace">
                                <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid text</span>

                            </div>
                        </div><br />
                        <div class="row">
                            <div>
                                <label>Address <sup style="color:crimson"><strong>*</strong></sup></label><br>
                                <textarea class="form-control shadow-none" placeholder="Enter  Address"
                                    formControlName="address" style="width: 100%;"></textarea>
                                <span *ngIf="showerr" style="color:crimson;font-size: 0.8rem;">Enter valid
                                    address</span>

                            </div>
                        </div>
                        <span *ngIf="application" style="color:crimson;font-size: 0.8rem;">Application Exist&nbsp; <i class='bx bx-error'></i></span>
                        <br /><div class="row" style="float: right;">
                            <div style="display: flex;justify-content: center;align-items: center;">
                                <button class="btn btn" (click)="apply()"
                                    style="background-color: rgba(1, 9, 71, 1);color: white;padding: 0.6rem 2rem; font-weight: bold;">Apply</button>
                                <button class="btn btn-danger" (click)="display='None'"
                                    style="color: white;padding: 0.6rem 2rem; font-weight: bold;margin-left: 2rem;">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div *ngIf="displaypopup" [ngClass]="{'view':displaypopup}">
    <span style="font-size: 1rem;">
        <strong><span style="font-size: 1.2rem;">{{popup}}</span>
            <div class="btn"><i style="color:white;font-size:2rem" class="bx bxs-check-circle"></i></div>
        </strong>
    </span>
</div>