<div class="header">
    <div class="topNav">
        <img src="assets/logo.png" style="height:5vh ;width: 3vw;margin-right: 1rem;" alt="hello" />
        <span class="logo_name">HAPPY RESIDENCE</span>
    </div><br><br>
    <div class="backgroundColor">
        <span class="nav-item" routerLink="/homepage">Home</span>
        <span class="nav-item" routerLink="/homepage/services">Services</span>
        <span class="nav-item" routerLink="/homepage/maps">Maps</span>
        <span class="nav-item" routerLink="/homepage/localanalysis">Local Analysis</span>
        <span class="nav-item" routerLink="/homepage/infrastructure">Infrastructure and 3D Module</span>
        <span class="nav-item" routerLink="/homepage/donations">Donations</span>
        <span class="nav-item" routerLink="/homepage/workwithus">Work with us</span>
        <span class="nav-item" routerLink="/homepage/feedback">Feedback</span>
        <span class="nav-item" routerLink="/homepage/contactus">Contact Us</span>
    </div>
</div>