@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
.backgroundColor {
    background: rgb(1, 9, 71);
    background: linear-gradient(118deg, rgba(1, 9, 71, 1) 19%, rgba(23, 164, 209, 1) 77%);
    color: white;
    padding: 0.7rem;
    padding-left: 7.5vw;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.nav-item {
    margin-right: 1.2rem;
    cursor: pointer;
    /* font: bold; */
}

.topNav {
    padding: 0.9rem;
    max-height: 10vh;
    display: flex;
    align-items: center;
    padding-left:1.7vw;
    background-color: white;
}

.logo_name {
    font-family: 'Montserrat';
    font-weight: 900 !important;
    font-size: 1.4rem;
    background: rgb(1, 9, 71);
    background: linear-gradient(118deg, rgba(1, 9, 71, 1) 19%, rgba(23, 164, 209, 1) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{ 
        position: sticky;
        top: -0.5rem;
        z-index: 10;
}


