@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.backgroundColor {
    background: rgb(1, 9, 71);
    background: linear-gradient(118deg, rgba(1, 9, 71, 1) 19%, rgba(23, 164, 209, 1) 77%);
    color: white;
    padding: 1rem;
    /* padding-left: 8vw; */
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.nav-item {
    margin-right: 1.2rem;
    cursor: pointer;
    /* margin: 1rem; */
    /* max-wid: 7vw; */
    /* font: bold; */
}
.active{
    font-weight: 800;
    /* letter-spacing: 1px; */
    padding-bottom: 0.3rem;
    border-bottom: 3px solid white;
    border-radius: 0.2rem;
    /* transition: all 5s; */
}

.topNav {
    padding: 1rem !important;
    max-height: 12vh;
    display: flex;
    align-items: center;
    padding-left: 2vw !important;
    background-color: white;
}

.logo_name {
    font-family: 'Montserrat';
    font-weight: 900 !important;
    font-size: 1.4rem;
    background: rgb(1, 9, 71);
    background: linear-gradient(118deg, rgba(1, 9, 71, 1) 19%, rgba(23, 164, 209, 1) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.navbar{ 
       padding:0 ;
        position: sticky;
        top: -0.5rem;
        z-index: 10;
}

.modal {
    background: rgba(0, 0, 0, .5);
}