<div style="font-size: 0.9rem;margin: 2rem;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right;"
        (click)="displaymodal()">Create a new job</button>
    <br /><br />
    <div class=" m-5 mt-0" *ngIf="data else nodata">
        <div class=" card m-2  mb-0 shadow  border-0"
            style="background-color: whiteSmoke;padding: 1rem;margin-left: 20vw !important; width: 50vw;"
            *ngFor="let c of data ; index as i">
            <div class="row">
                <div class="col-9">
                    {{c.jobid}}
                    {{c.firstname}} {{c.middlename}} {{c.lastname}}
                    {{c.mobileno}}
                    {{c.jobtitle}}
                    {{c.prevexperience}}

                </div>
                <div class="col">
                    <span style="justify-content: right;">
                        <span style="display: flex;"><button class="btn btn-success m-1"
                                style="background-color: green;color:white" *ngIf="c.approve==''"
                                (click)="approve(i,'yes')">Accept</button>
                            <button class="btn btn-danger m-1" *ngIf="c.approve==''" (click)="approve(i,'no')"
                                style="background-color: rgb(110, 16, 16);color:white">Reject</button></span>
                        <button class="btn btn-success" *ngIf="c.approve=='yes'"
                            style="background-color: green;color:white">Accepted</button>
                        <button class="btn btn-danger" *ngIf="c.approve=='no'"
                            style="background-color: rgb(110, 16, 16);color:white">Rejected</button>

                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5 mt-0" *ngIf="data else nodata">
        <div class="col-3 card m-5 mb-0 shadow  border-0" style="background-color: whiteSmoke;padding: 1rem; "
            *ngFor="let c of data ; index as i">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{c.firstname}} {{c.middlename}} {{c.lastname}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{c.email}}</td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td>{{c.mobileno}}</td>
                    </tr>
                    <tr>
                        <td>Alternative mobile</td>
                        <td>{{c.altmobileno}}</td>
                    </tr>
                    <tr>
                        <td>Job role</td>
                        <td>{{c.jobid}}</td>
                    </tr>
                    <tr>
                        <td>Previous Experience</td>
                        <td>{{c.prevexperience}}</td>
                    </tr>
                    <tr>
                        <td>Previous workplace</td>
                        <td>{{c.prevworkplace}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{c.address}}</td>
                    </tr>



                </tbody>
            </table>

            <span style="display: flex;"><button class="btn btn-success m-1" style="background-color: green;color:white"
                    *ngIf="c.approve==''" (click)="approve(i,'yes')">Approve</button>
                <button class="btn btn-danger m-1" *ngIf="c.approve==''" (click)="approve(i,'no')"
                    style="background-color: rgb(110, 16, 16);color:white">Reject</button></span>
            <button class="btn btn-success" *ngIf="c.approve=='yes'"
                style="background-color: green;color:white">Approved</button>
            <button class="btn btn-danger" *ngIf="c.approve=='no'"
                style="background-color: rgb(110, 16, 16);color:white">Rejected</button>

        </div>
    </div>
    <ng-template #nodata>
        No job applications.
    </ng-template>
</div>



<div style="margin-top: 10%;" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;display: flex;justify-content: center;">Job
                    Application</h4>
            </div>
            <div class="modal-body ">
                <div [formGroup]="jobdetails" class="table-responsive"
                    style="height: 84vh;margin-top: 0;padding-top:  0;">
                    <label><b>Job Id</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Job Id" formControlName="jobid">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />
                    <label><b>Job Tittle</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Job Tittle"
                        formControlName="jobtitle">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />
                    <label><b>Job Location</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Job Tittle"
                        formControlName="location">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />
                    <label><b>Salary</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Salary" formControlName="amount">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br>
                    <label><b>Job Description</b></label>
                    <textarea type="text" class="form-control shadow-none" placeholder="Job Description"
                        formControlName="jobdescription"></textarea>
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br>
                    <button (click)="display='None'" style="float: right ;margin-right:1.2rem;" class="btn btn-danger">
                        Close</button>
                    <button (click)="createjob()" style="float: right ;margin:0rem 1rem;" class="btn btn-primary">Create
                        Job</button>
                </div>
            </div>

        </div>
    </div>
</div>