<br />
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right;"
    (click)="displaymodal()">Add slum</button>


<div *ngIf="data.length!=0 else nodata" class="row m-2 mt-0 ml-0" st>
    <div class="col-5 shadow card m-5 mb-0  border-0" style="background-color: whiteSmoke;padding: 1rem; "
        *ngFor="let c of data">
        <h5>{{c.slumid | uppercase}}

            <span data-toggle="modal" data-target="#myModal" style="float: right;"><i class='bx bx-pencil'
                    (click)="edit(c)"></i></span>
        </h5>
        <div style="display: flex;">
            <span> {{c.name}}</span>
            <span style="margin-left: 2rem;">{{c.population}}</span>
            <span style="margin-left: 2rem;">{{c.located}}</span>
            <span style="margin-left: 2rem;">{{c.occupiedarea}}</span>
        </div><br>
        <iframe [src]="c.iframe | safe"></iframe> <br />

        <span>{{c.description}}</span><br>
    </div>










</div>
<ng-template #nodata>
    <div style="height: 80vh;justify-content: center;align-items: center;display: flex;">
        <h4>
            No Maps
        </h4>
    </div>
</ng-template>



<div style="margin-top: 10%;" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;display: flex;justify-content: center;">Job
                    Application</h4>
            </div>
            <div class="modal-body ">
                <div [formGroup]="mapData" class="table-responsive" style="height: 60vh;margin-top: 0;padding-top:  0;">
                    <label><b>Slum Id</b></label>
                    <input [disabled]="editMode" type="text" class="form-control shadow-none" placeholder="Slum Id"
                        formControlName="slumid">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />
                    <label><b>Slum name</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Slum name" formControlName="name">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />
                    <label><b>Population</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Population"
                        formControlName="population">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />
                    <label><b>Occupied area</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Occupied area"
                        formControlName="occupiedarea">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />
                    <label><b>Located</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Located" formControlName="located">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br />


                    <label><b>Embedded code</b></label>
                    <input type="text" class="form-control shadow-none" placeholder="Embedded code"
                        formControlName="iframe">
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br>
                    <iframe [src]="mapData.value.iframe | safe"></iframe>
                    <br />
                    <label><b>Description</b></label>
                    <textarea type="text" class="form-control shadow-none" placeholder="Description"
                        formControlName="description"></textarea>
                    <span *ngIf="err" style="color:crimson;font-size: 0.8rem;">Enter valid text</span><br>

                    <button (click)="display='None'" style="float: right ;margin-right:1.2rem;" class="btn btn-danger">
                        Close</button>
                    <button (click)="submit()" style="float: right ;margin:0rem 1rem;" class="btn btn-primary"><span
                            *ngIf="!editMode">Add
                            slum</span><span *ngIf="editMode">Edit slum</span></button>
                </div>
            </div>

        </div>
    </div>
</div>
<br /><br />