<div style="display: flex;justify-content:center;max-height: auto;font-size: 0.9rem;">
    <div *ngIf="data&&data.length!=0 else feedbacks" class="row m-2 mt-0 ml-0" st>
        <div class="col-3 shadow card m-5 mb-0  border-0" style="background-color: whiteSmoke;padding: 1rem; "
            *ngFor="let c of data">
            <!-- {{c | json}
            fullname: { type: "string", required: "true" },
            email: { type: "string", required: "true" },
            companyname: { type: "string" },
            email: { type: "string", required: "true" },
            contact: { type: "string", required: "true" },
            country: { type: "string", required: "true" },
            streetno: { type: "string", required: "true" },
            appartment: { type: "string"},
            city: { type: "string", required: "true" },
            state: { type: "string", required: "true" },
            pincode: { type: "string", required: "true" },
            amount: { type: "string", required: "true" },
            donationmsg: { type: "string" }, -->
            <h5>{{c.fullname | uppercase}}</h5>
            <div>
                <i class='bx bx-envelope bx-tada'></i>&nbsp;{{c.email}}
            </div><br>

            <span>{{c.email}}</span><br>
            <span>{{c.companyname}}</span><br>
            <span>{{c.contact}}</span><br>
            <span>{{c.amount}}</span><br>
            <span>{{c.donationmsg}}</span>
        </div>
    </div>
    <ng-template #feedbacks>
        <div style="height: 80vh;justify-content: center;align-items: center;display: flex;">
            <h4>
                No Donations
            </h4>
        </div>
    </ng-template>
</div>