.active{
        font-weight: 800;
            /* letter-spacing: 1px; */
            padding-bottom: 0.3rem;
            border-bottom: 3px solid white;
            border-radius: 0.2rem;
            /* transition: all 5s; */
       
}