<div id="top" style="text-align: center;padding: 1rem;">
    <h2><b>CONTACT US</b></h2>
</div>
<div class="row" style="margin: 2rem;margin-top: 0%;">
    <div class="col-5">
        <h2>Office Address</h2>
        <hr>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                3094-13th Cross, <br>
                Administrative Building,<br>
                Anant Kanekar Marg, Bandra (E),<br>
                Mumbai 400051. India.<br>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col">
                <div style="margin: 0.5rem;margin-top: 0;"><i class='bx bxs-phone bx-tada'
                        style="font-size: 1.2rem;"></i>&nbsp;<b>Phone :</b> 022-26565800<br></div>
                <div style="margin: 0.5rem;"><i class='bx bxs-package bx-tada' style="font-size: 1.2rem;"></i>&nbsp;<b>
                        Fax &nbsp;&nbsp;&nbsp;&nbsp;:</b> 022-26590457<br></div>
                <div style="margin: 0.5rem;"><i class='bx bx-envelope bx-tada'
                        style="font-size: 1.2rem;"></i>&nbsp;<b>Email &nbsp;:</b> info@sra.gov.in</div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <h2>Find Us On Socia Media</h2>
        <hr>
        <div class="row" style="display: flex;justify-content:center;align-items:center;margin-left: 2rem;">
            <div class="col">
                <i class='bx bxl-facebook-circle' style="font-size: 2rem;"></i>
                <i class='bx bxl-twitter' style="font-size: 2rem;margin:0 1rem;"></i>
                <i class='bx bxl-instagram-alt' style="font-size: 2rem;margin:0 1rem;margin-left: 0;"></i>
                <i class='bx bxl-youtube' style="font-size: 2rem;"></i>
            </div>
        </div><br>
        
        <div class="row">
            <i class='bx bx-right-arrow-circle bx-fade-right col-4' style="font-size: 15rem;margin-left: 0rem;"></i>
            <b class="col" style="font-size:3rem;cursor: pointer;margin-top: 2rem;" (click)="contact()">Contact Through Your Valuable
                Feedback.</b>
        </div>
        
    </div>
</div>